<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @restaurant.name %></h1>
      <p><%= @restaurant.address %></p>
      <p><%= @restaurant.category %></p>

      <%= link_to 'Back to Home', restaurants_path %>
      <%= link_to 'Edit this restaurant', edit_restaurant_path(@restaurant) %>
    </div>
  </div>
</div>
